.rate {
  min-width: 160px;
}

.rate span {
  font-size: 1rem;
  color: rgb(227, 227, 227);
  margin-right: 5px;
}

.rate span:last-child {
  margin-right: 0;
}

.rate span.fill {
  color: rgb(255, 96, 96);
}

@media screen and (min-width: 768px) {
  .rate span {
    font-size: 1.3rem;
    margin-right: 10px;
  }

  .rate span:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 425px) {
  .rate {
    min-width: 115px;
  }
}
